node_modules/
.DS_Store
.env

/backend/wordpress/wp-config.php

/backend/wordpress/wp-content/cache/
/backend/wordpress/wp-content/backups/  
/backend/wordpress/wp-content/upgrade/
/backend/wordpress/wp-content/debug.log  

/backend/wordpress/wp-content/uploads/

/backend/wordpress/wp-content/themes/twentytwentyfour/
/backend/wordpress/wp-content/themes/twentytwentythree/
/backend/wordpress/wp-content/themes/twentytwentytwo/

/backend/wordpress/wp-content/plugins/**/node_modules/
/backend/wordpress/wp-content/themes/**/node_modules/

*.log
*.backup
*.tmp
*.swp
